{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    // "standard",
    "plugin:vue/essential"
  ],
  "rules": {
    "space-before-function-paren": "off"
  },
  "globals": {
    "Vue": true
  }
}
