/*
 * @Author: bianhao 
 * @Date: 2018-01-04 17:52:16 
 * @Last Modified by: bianhao
 * @Last Modified time: 2018-01-04 18:48:55
 */
.lt-layout {
  display: flex;
  flex-direction: column;
  .lt-header {
    width: 100%;
  }
  .lt-main {
    width: 100%;
  }
  .lt-footer {
    width: 100%;
  }
}