/*
 * @Author: bianhao 
 * @Date: 2018-01-15 18:16:28 
 * @Last Modified by: bianhao
 * @Last Modified time: 2018-02-25 11:47:41
 */
.lt-menu-item {
  padding-left: 48px;
  line-height: 36px;
  a {
    color: @comColor2;
    width: 100%;
    display: inline-block;
    text-decoration: none;
  }
  div {
    cursor: pointer;
  }
  &:hover {
    color: @mainColor1;
    background-color: @comColor5; 
    a {
      color: @mainColor1;
    }
  }
}

.lt-menu-item-select-title {
  padding-left: 48px;
  padding-right: 48px;
  line-height: 36px;
  color: @comColor2;
  cursor: pointer;
  &:hover {
    color: @mainColor1;
    background-color: @comColor5;
  }
  .iconfont {
    font-size: 12px;
    float: right;
    transition: transform .5s;
  }
}

.lt-menu-item-select-opend .lt-menu-item-select-title {
  color: @mainColor1;
  background-color: @comColor5;
  .iconfont {
    transform: rotate(180deg);  
  }
}

.lt-menu-item-select-content {
  overflow: hidden;
  .lt-menu-item {
    padding-left: 84px;
  }
}

.router-link-active {
  a {
    color: @mainColor1;
  }
}

.lt-menu-item-group-title {
  color: @comColor3;
  padding-left: 36px;
  line-height: 24px;
}