@iconfont-prefix: ~"@{css-prefix}icon-";

.lt-message {
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 6px 10px 0 rgba(7,17,27,0.08);
  border-radius: 24px;
  padding: 13px 30px;
  z-index: 100010;
  .lt-message__icon {
    width: 16px;
    height: 20px;
    margin-right: 16px;
  }
  .lt-message__content {
    font-size: 16px;
    color: @comColor7;
    margin: 0;
  }
  .lt-message__appent-text {
    font-size: 16px;
    color: #0773FC;
    margin-left: 72px;
    cursor: pointer;
  }
}

.lt-message-fade-enter-active,
.lt-message-fade-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.lt-message-fade-enter,
.lt-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -24px);
}
