@modal-prefix-cls: ~"@{css-prefix}modal";

.@{modal-prefix-cls} {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: @zindex-modal;

  &__mask {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.5);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__close {
    position: absolute;
    right: -36px;
    top: -4px;
    color: #fff;
    cursor: pointer;
  }
}
