.lt-pagination {
  .jumpwrap {
    display: inline-block;
    height: 30px;
    .jump-input, .jump-btn{
      padding: 0;
      height: 30px;
      line-height: 28px;
      background: #f8f8f8;
      outline: none;
      border: none;
      text-align: center;
      min-width: 50px;
      // box-shadow: 0 2px 4px 0 rgba(0,0,0,.16);
      display: inline-block;
    }
    .jump-input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .jump-btn {
      color: #9B9B9B;
      border: 1px solid #f8f8f8;
      border-left: 1px solid #9b9b9b;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
      float: right;
      &:hover {
        color: #0773FC;
        border: 1px solid #0773FC;
      }
    }
  }
  button:not(.jump-btn), li {
    text-align: center;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 4px;
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,.16);
    &.disabled {
      cursor: not-allowed;
    }
  }
  button:not(.jump-btn) {
    width: 32px;
    height: 30px;
    border: 1px solid #f8f8f8;

    &:hover {
      color: #0773FC;
      border: 1px solid #0773FC;
    }
  }
  li {
    min-width: 20px;
    height: 28px;
  }
  button {
    i {
      font-size: 12px;
      color: #9B9B9B;
    }
    &:not(.disabled):hover {
      i {
        color: #0773FC;
      }
    }
  }
  ul {
    display: inline-block;
    vertical-align: bottom;
    li {
      padding: 0px 5px;
      line-height: 28px;
      color: #9B9B9B;
      border: 1px solid #f8f8f8;
      &:not(.disabled):hover {
        color: #0773FC;
        border: 1px solid #0773FC;
      }
      &.active {
        color: #fff !important;
        background: #0773FC;
        border: 1px solid #0773FC;
      }
    }
  }
  &.isbackground {
    button, li{
      background: #f8f8f8;
    }
  }
  
}