.scroll-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .scroll-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .scroll-content {
      // border-right: 20px solid transparent;
      // border-bottom: 20px solid transparent;
      position: relative;
    }
  }
  .scroll-right, .scroll-bottom {
    background-color: #eee;
    opacity: 1;
    position: absolute;
    transition: opacity .34s ease-out;
    -webkit-transition: opacity .34s ease-out;
  }
  .scroll-bar {
    opacity: 0.3;
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: inherit;
    background-color: #959595;
    transition: opacity .34s ease-out;
    -webkit-transition: opacity .34s ease-out;
    -moz-transition: opacity .34s ease-out;
    -o-transition: opacity .34s ease-out;

  }
  .scroll-right {
    width: 6px;
    top: 0;
    bottom: 0;
    right: 0;
    .scroll-bar {
      width: 6px;
      transform: translateY(0%);
      &:hover {
        opacity: 0.8 !important;
      }
      &[class~="right-bar-active"] {
        opacity: 0.8 !important;
      }
    }
  }
  .scroll-bottom {
    height: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    .scroll-bar {
      height: 6px;
      transform: translateX(0%);
      &:hover {
        opacity: 0.8 !important;
      }
      &[class~="bottom-bar-active"] {
        opacity: 0.8 !important;
      }
    }
  }
}