.selector__input{
    display: flex;
}
.input__ipt {
    margin-left: 15px;
    height: 25px;
    width: 190px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #c9c9d5;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    padding-left: 10px;
}
.input__ipt:focus {
    border-color: lightskyblue;
}
.input__icon{
    width: 0;
    height: 0;
    margin-left: -20px;
    margin-top: 10px;
    cursor:pointer;
}
.input__triangle--down{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #ccc;
}
.input__triangle--up{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #ccc;
}
.option{
    /* margin: 0 auto; */
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
    height: auto;
    box-shadow: .5px .5px .5px .5px #CCC;
    padding: 0px;
  }
  li{
      color: #333;
      line-height: 25px;
      width: 200px;
      text-align: center;
      box-sizing: border-box;
      list-style:none;
  }
  li:hover{
      color:#fff;
      background: #C9C9D5;
      cursor:pointer;
  }